@import './themes/light.scss';
@import './themes/dark.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
}
