.search {
    padding: 0 0 0 30px;
    width: 200px;
    height: 30px;
    background-color: var(--bg-input);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--primary-color);
}

.labelSearch {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.iconWrapper {
    width: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    width: 16px;
    height: 16px;
    fill: var(--icon-color);
}

.results {
    padding: 10px;
    max-height: 360px;
    width: 900px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: var(--header-height);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--header-bg-color);
    border: 1px var(--container-border-color) solid;
    border-radius: 10px;
}

.show {
    display: flex;
}

.userContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
        background-color: var(--bg-dialog-hover);
    }
}

.avatar {
    width: 100px;
    height: 100px;
}

@media (max-width: 900px) {
    .results {
        width: auto;
        justify-content: center;
    }
}
