.Notification {
    width: 300px;
    padding: 10px;
    // display: none;
    position: fixed;
    top: 60px;
    right: 30px;
    background-color: var(--header-bg-color);
    border: 1px var(--container-border-color) solid;
    border-radius: 10px;
    z-index: 1500;
}

.active {
    display: block;
}
