.SideBar {
    width: 100px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
