.Header {
    height: var(--header-height);
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.container {
    margin-bottom: 10px;
    height: var(--header-height);
}

.contentContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.outBtn {
    padding: 0 10px;
    height: 32px;
    background-color: var(--bg-button);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--primary-color);
    transition: background-color 0.2s;
    &:hover {
        background-color: var(--bg-button-hover);
    }
}
