.form {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ChangeProfile {
    width: 100%;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // background-color: var(--bg-user);
    fill: var(--fill-user);
}

.avatar {
    margin-bottom: 10px;
}

.avatarBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input,
.select {
    margin-bottom: 20px;
    width: 100%;
    padding: 0 12px;
    height: 30px;
    background-color: var(--bg-input);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--primary-color);
}

.input {
    padding: 8px 12px;
}

.fieldContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.error {
    position: absolute;
    top: 32px;
    color: red;
    font-size: 14px;
}

.rmBtn {
    width: 100%;
    margin-bottom: 10px;
}
.saveBtn {
    width: 100%;
}

.classLabel {
    margin-bottom: 10px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    background-color: var(--bg-button);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--primary-color);
    transition: background-color 0.2s;
    &:hover {
        background-color: var(--bg-button-hover);
    }
}

.input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
