.Comment {
    padding: 10px;
    display: flex;
    border-bottom: 1px var(--container-border-color) solid;
    word-break: break-all;
    &:last-child {
        border-bottom: none;
    }
}

.avatar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    gap: 10px;
}
.time {
    color: var(--secondary-font-color);
}

.text {
    color: var(--font-color);
}
