.contentContainer {
    height: 100%;
    // display: flex;
    // flex-direction: column;
}

.container {
    margin-bottom: 10px;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.messagesBlock {
    height: calc(100% - 140px);
    max-height: calc(100% - 140px);
    overflow: auto;
}

.dialogIcon {
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: var(--fill-user);
}
