.DialogHeader {
    padding: 10px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--container-border-color) solid;
}

.backButton {
    padding: 0 10px;
    height: 32px;
    background-color: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    // &:hover {
    //     background-color: var(--bg-button-hover);
    // }
}

.icon {
    fill: var(--icon-color);
}
