.app.light {
    --bg-color: #edeef0;
    --inverted-bg-color: #141414;
    --header-bg-color: #ffffff;
    --container-border-color: #dce1e6;
    --link-color: #000;
    --primary-color: #000;
    --bg-user: #fff;
    --fill-user: #000;
}
