.Input {
    // width: 200px;
    padding: 8px 12px;
    height: 30px;
    background-color: var(--bg-input);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--primary-color);
}
