.contentWrapper {
    margin-top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.dataWrapper {
    display: flex;
    flex-direction: column;
}

.valueWrapper {
    display: flex;
    flex-direction: column;
}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.avatar {
    margin-bottom: 10px;
}

.addFriendBtn {
    margin-bottom: 10px;
    z-index: 1;
}

.valueTitle {
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    fill: var(--secondary-font-color);
}

.name {
    margin-bottom: 10px;
    display: flex;
    color: var(--font-color);
    font-weight: 400;
    gap: 10px;
}

.valueContainer {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

@media (max-width: 650px) {
    .contentWrapper {
        flex-direction: column;
    }

    .dataWrapper,
    .valueWrapper {
        align-items: center;
    }

    .addFriendBtn,
    .messageBtn {
        width: 100%;
    }
}
