:root {
    --light: #d8dbe0;
    --dark: #28292c;
}

.toggle-switch {
    display: block;
    position: relative;
    width: 40px;
}

.label {
    // position: absolute;
    // bottom: 10px;
    width: 40px;
    height: 22px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
}

.input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 40px;
    height: 22px;
    border-radius: 50px;
    transition: 0.3s;
}

.input:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: inset 5px 0px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

.input:checked ~ .slider::before {
    transform: translateX(16px);
    background-color: var(--dark);
    box-shadow: none;
}
