// .app.dark {
.dark {
    --bg-color: #141414;
    --inverted-bg-color: #edeef0;
    --header-bg-color: #222222;
    --container-border-color: #424242;
    --bg-link: #262626;
    --link-color: #b1d4e6;
    --primary-color: #b1d4e6;
    --bg-user: #000;
    --fill-user: #fff;
    --bg-input: #424242;
    --bg-button: #3d3d3d;
    --bg-button-hover: #484848;
    --bg-dialog-hover: #333333;
    --font-color: #e1e3e6;
    --icon-color: #b2b2b2;
}
