// .app.light {
.light {
    --bg-color: #edeef0;
    --inverted-bg-color: #141414;
    --header-bg-color: #ffffff;
    --container-border-color: #dce1e6;
    --bg-link: #e5e7eb;
    --link-color: #000;
    --primary-color: #000;
    --bg-user: #fff;
    --fill-user: #000;
    --bg-input: #e4e5e9;
    --bg-button: #ebebeb;
    --bg-button-hover: #dbdbdb;
    --bg-dialog-hover: #f5f6f8;
}
