.Avatar {
    position: relative;
    display: inline-block;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--fill-user);

    &.XL {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    &.L {
        width: 100px;
        height: 100px;
    }

    &.M {
        width: 60px;
        height: 60px;
    }

    &.MS {
        width: 50px;
        height: 50px;
    }

    &.S {
        width: 35px;
        height: 35px;
    }
}

.onlineXL {
    position: absolute;
    top: 118px;
    left: 118px;
    fill: #4bb34b;
    stroke: var(--header-bg-color);
    stroke-width: 4px;
}

.online {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 52px;
    right: -52px;
    fill: #4bb34b;
    stroke: var(--header-bg-color);
    stroke-width: 8px;

    &.L {
        width: 100px;
        height: 100px;
        stroke-width: 6px;
        top: 32px;
        right: -32px;
    }

    &.M {
        width: 80px;
        height: 80px;
        top: 10px;
        right: -28px;
    }
}

.offlineWrapper {
    padding: 4px 8px 4px;
    position: absolute;
    top: 100px;
    right: -15px;
    background-color: var(--header-bg-color);
    border-radius: 16px;
}

.offline {
    padding: 2px 4px 2px;

    color: var(--font-color);
    font-size: 12px;
    background-color: #656565;
    border-radius: 8px;
}

.click {
    cursor: pointer;
}
