.contentContainer {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.dialogHeader {
    padding: 10px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--container-border-color) solid;
}

.messagesBlock {
    // height: calc(100vh - var(--header-height) - 200px);
    height: calc(100% - 140px);
    overflow: auto;
}

.inputBlock {
    padding: 10px;
    height: 65px;
    border-top: 1px var(--container-border-color) solid;
    display: flex;
    align-items: center;
}

.inputMessage {
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: inherit;
    border: 1px var(--container-border-color) solid;
    border-radius: 8px;
    color: inherit;
}

.backButton {
    padding: 0 10px;
    height: 32px;
    background-color: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    // &:hover {
    //     background-color: var(--bg-button-hover);
    // }
}

.dialogIcon {
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: var(--bg-user);
    fill: var(--fill-user);
}

.plane {
    margin-left: 5px;
    cursor: pointer;
}
