.SignUpForm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.form {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    background-color: var(--inverted-bg-color);
    border-radius: 10px;
}

.input {
    margin-bottom: 20px;
}
