name: testing, deployment
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [21.x]

        steps:
            - uses: actions/checkout@v3
            - name: Staring Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name: install modules
              run: cd client && npm install
            - name: unit testing
              if: always()
              run: cd client && npm run test:unit
    deploy:
        runs-on: self-hosted
        steps:
            # - uses: actions/checkout@v3
            - name: stop docker container
              run: docker stop sn
            - name: remove docker container
              run: docker rm -f sn
            - name: pull changes
              run: cd && cd social-network && git pull
            - name: build project
              run: cd && cd social-network && docker build -t sn .
            - name: run docker container
              run: docker run --restart=always -d --name sn -v sn_static_data:/app/static -p 8082:8082 sn